<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles.css" type="text/css" />
    </head>
    <body>
        <div class="text">
            <h1>Created By Taylor Milliman</h1>
            <h3>Example Usage: </h3>
            <a href="https://secure-crag-25604.herokuapp.com/new/http://www.foo.com">https://secure-crag-25604.herokuapp.com/new/http://www.foo.com</a>
            <br>
            <a href="https://secure-crag-25604.herokuapp.com/new/http://www.google.com">https://secure-crag-25604.herokuapp.com/new/http://www.google.com</a>
            <br>
            <h3>Example creation output</h3>
            <p>{
  "original_url": "http://www.google.com",
  "short_url": "http://secure-crag-25604.herokuapp.com/7WRqMz"
}</p>
        </div>
    </body>
</html>