<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <h1>Created By Taylor Milliman</h1>
        <h3>Example Usage: </h3>
        <a href="https://little-url.herokuapp.com/new/https://www.google.com">https://little-url.herokuapp.com/new/https://www.google.com</a>
        <br>
        <a href="https://little-url.herokuapp.com/new/http://foo.com:80">https://little-url.herokuapp.com/new/http://foo.com:80</a>
        <br>
        <h3>Example creation output</h3>
        <p>{ "original_url":"http://foo.com:80", "short_url":"https://little-url.herokuapp.com/8170" }</p>
    </body>
</html>